body{
  background-color: black;
}
.parent {
  background-color: darkblue;
  width: 300px;
  height: 300px;
  position: relative;
}

.child{
  background-color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}
