* {
  margin: 0;
}

.parent {
  display: inline-block;
  background-color: black;
  width: 300px;
  height: 300px;
  padding: 30px;
  margin: 50px;
}

.content {
  background-color: burlywood;
  height: 300px;
  width: 300px;
}

body {
  padding: 50px;
}

button {
  background-color: green;
  border: 2px solid green;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}

button:focus {
  background-color: black;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
