/* body{
  background-color: green;
}
@media (min-width: 768px) {
  body{
    background-color: blue;
  }
}
@media (min-width:1020px) {
  body{
    background-color: red;
  }
}
@media (min-width:1400px) {
  body{
    background-color: orange;
  }
} */
body{
  background-color: black;
  padding: 150px;
}

.parent{
  display: flex;
  gap : 3px;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  width: 100%;
  height: 400px;
}

.child{
  background-color: red;
  height: 200px;
  width: 200px;
}

.child2{
  background-color: greenyellow;
  width: 200px;
  height: 350px;
}
