body {
  background-color: #3d78d1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.amazing {
  font-size: 40px;
  color: black;
}

.short {
  font-size: 30px;
  color: red;
}

p {
  font-size: 3px;
}

#pavan {
  font-size: 16px;
  color: lawngreen;
}
